body {
	font: 64.5% "Trebuchet MS", sans-serif;
	margin: 0px 30px 0 30px;
	background-image: url("../images/image.png");
	background-repeat: no-repeat;
	background-size: 2000px 900px;
	overflow: scroll;
}

#dialog-link {
	padding: .4em 1em .4em 20px;
	text-decoration: none;
	position: relative;
}

#dialog-link span.ui-icon {
	margin: 0 5px 0 0;
	position: absolute;
	left: .2em;
	top: 50%;
	margin-top: -8px;
}

#header h1 {
	text-align: right;
	color: #ffffff;
	font: bold;
	font-family: serif;
}

#header label {
	text-align: right;
	color: #ffffff;
	font: bold;
	font-size: 16px;
	font-family: serif;
}

.leftCaption {
	color: #ffffff;
	font-size: 20px;
}

.addExpenseLabel {
	float: right;
}

.leftLabel {
	width: 50px;
	float: left;
	color: #ffffff;
	font-size: 20px;
}

.finalTallyLabel {
	float: right;
}

.errMsgText {
	color: red;
}

.participant {
	color: #ffffff;
	width: 25%;
	height: 75px;
	border: 3px;
	border: thin;
	border-color: white;
	margin-right: 5px;
	background-image: url("../images/smallBlue.png");
	background-repeat: no-repeat;
	background-size: 100%;
	margin-bottom: 10px;
}

input[type=text], textarea {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	padding: 3px 0px 3px 3px;
	margin: 5px 1px 3px 0px;
	border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	padding: 3px 0px 3px 3px;
	margin: 5px 1px 3px 0px;
	border: 1px solid rgba(81, 203, 238, 1);
}

tfoot {
	font-weight: bold;
	font-size: 1.3em;
}

.leftLable {
	font-size: 13px;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, .3)
		url('../images/ajax-loader.gif') 50% 50%  no-repeat;
	opacity: 0.90;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity= 80);
	text-align: center;
	filter: alpha(opacity = 90)
}

;

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
	overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
	display: block;
}